<div class="max-w-sm rounded overflow-hidden shadow-lg m-3">
  <form [formGroup]="productsForm">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Add Product</div>
      <input
        class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        formControlName="title"
        placeholder="Title"
        type="text"
        data-cy="crud-input-title"
      />
      <input
        class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal mt-2"
        formControlName="price"
        placeholder="Price"
        type="text"
        data-cy="crud-input-price"
      />
      <input
        class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal mt-2"
        formControlName="description"
        placeholder="Description"
        type="text"
        data-cy="crud-input-description"
      />
    </div>
    <div class="px-6 pt-4 pb-2">
      <ng-container *ngIf="editing; else newProduct">
        <button
          class="float-right inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-red-700 mr-2 mb-2"
          (click)="cancel()"
          data-cy="crud-product-button-cancel"
        >
          Cancel
        </button>
        <button
          class="float-right inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2"
          (click)="update(productsForm.value)"
          data-cy="crud-product-button-edit"
        >
          Edit product
        </button>
      </ng-container>
      <ng-template #newProduct>
        <button
          class="float-right inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-green-700 mr-2 mb-2"
          (click)="create()"
          [disabled]="productsForm.invalid"
          data-cy="crud-product-button-add"
        >
          Add new product
        </button>
      </ng-template>
    </div>
  </form>
</div>

<ng-container *ngIf="products$ | async">
  <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
    <table
      class="w-full border-collapse bg-white text-left text-sm text-gray-500"
    >
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Title</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">
            Description
          </th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Price</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr
          class="hover:bg-gray-50"
          *ngFor="let product of products$ | async; trackBy: trackByFn"
        >
          <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            <div class="relative h-10 w-10">
              <img
                class="h-full w-full rounded-full object-cover object-center"
                src="{{ product.images[0] }}"
                alt=""
              />
            </div>
            <div class="text-sm">
              <div class="font-medium text-gray-700">{{ product.title }}</div>
              <div class="text-gray-400">
                {{ product?.images?.length }} images
              </div>
            </div>
          </th>

          <td class="px-6 py-4">{{ product.description }}</td>
          <td class="px-6 py-4">
            <div class="flex gap-2">
              <span
                class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600"
              >
                {{ product.price }}
              </span>
            </div>
          </td>
          <td class="px-6 py-4">
            <div class="flex justify-end gap-4">
              <button
                x-data="{ tooltip: 'Delete' }"
                (click)="delete(product.id)"
                data-cy="crud-product-remove-from-table"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </button>
              <button
                x-data="{ tooltip: 'Edit' }"
                (click)="loadProductSelected(product.id)"
                data-cy="crud-product-edit-from-table"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
