<h1>Loading data scrolling</h1>
<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
  class="flex-container"
>
  <mat-card *ngFor="let cat of cats">
    <mat-card-header>
      <div>
        <mat-card-title>{{ cat.name }}</mat-card-title>
        <mat-card-subtitle
          >Temperament: {{ cat.temperament }}</mat-card-subtitle
        >
      </div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <span>{{ cat.description }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
