h1 {
  margin: 2em;
  font-size: xx-large;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-content: space-between;
}

mat-card {
  margin: 1em;
  background-color: #fff;
}

mat-card-subtitle {
  color: #000;
}

body {
  overflow-y: scroll;
}
