* {
  box-sizing: border-box;
}

.header {
  display: flex;
  height: 80px;
}

.imageHeader {
  width: 165px;
  background-color: blue;

  img {
    width: -webkit-fill-available;
    padding: 1em;
  }
}

.navigator {
  flex-grow: 7;
  background-color: green;
}

.content {
  display: flex;
  align-content: center;
  height: 650px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0px 0px 0px 10px;
}

.left {
  height: 650px;
  background-color: pink;
  width: 30%;
}

.right {
  height: 650px;
  width: 68.6%;
  background-color: yellow;
}

.text {
  height: 350px;
  flex-grow: 10;
  background-color: burlywood;

  p {
    padding: 2em;
    text-align: justify;
  }
}

.content-small {
  display: flex;
  align-items: center;
  background-color: slateblue;
  height: 300px;
  width: 100%;
}

.small {
  background-color: wheat;
  height: 150px;
  width: 100px;
  flex-grow: 1;
  margin: 1em;

  img {
    height: inherit;
    padding: 1em;
  }
}

.footer {
  display: flex;
  height: 100px;
  background-color: red;
}
