<div class="float-right w-18 m-2">
  <button
    type="button"
    (click)="addItem($event)"
    class="inline-flex hover:shadow-form rounded-md bg-[#1106df] py-3 px-8 text-center text-base font-semibold text-white outline-none"
  >
    Add Product
  </button>

  <button
    type="button"
    class="inline-flex ml-2 hover:shadow-form rounded-md bg-[#0fd05c] py-3 px-8 text-center text-base font-semibold text-white outline-none"
    (click)="submitForm(orderForm.value)"
  >
    Save
  </button>
</div>

<div class="inline-flex items-center justify-center m-2 p-2">
  <form
    class="inline-flex"
    [formGroup]="orderForm"
    (ngSubmit)="submitForm(orderForm.value)"
  >
    <div
      class="mx-auto w-full max-w-[550px] border-solid border-2 p-2 ml-2"
      formArrayName="items"
      *ngFor="let item of arrayFormData.controls; let i = index; let c = count"
    >
      <button
        [disabled]="!(orderForm.get('items')?.value.length > 1)"
        class="bg-gradient-to-tr mb-2 float-right bg-red-600 w-6 h-6 rounded-full shadow-2xl shadow-red-400 border-white border-dashed border-2 flex justify-center items-center"
        (click)="deleteItemLine($event, i)"
      >
        <div>
          <h1 class="text-white text-2xl">X</h1>
        </div>
      </button>

      <div
        class="bg-gradient-to-tr mb-2 float-right bg-green-600 w-6 h-6 rounded-full shadow-2xl shadow-green-400 border-white border-dashed border-2 flex justify-center items-center"
      >
        <div>
          <h1 class="text-white text-2xl">{{ i + 1 }}</h1>
        </div>
      </div>
      <div class="inline-flex justify-evenly" [formGroupName]="i">
        <div class="flex-nowrap">
          <div class="mb-5">
            <label
              for="name"
              class="mb-1 block text-base font-medium text-[#07074D]"
            >
              Name
            </label>
            <input
              formControlName="name"
              type="text"
              name="name"
              placeholder="Name"
              class="mb-2 w-full rounded-md border border-[#e0e0e0] bg-white py-1 px-1 text-base font-medium text-[#6B7280] outline-none focus:border-[#1106df] focus:shadow-md"
            />
            <label
              for="price"
              class="mb-1 block text-base font-medium text-[#07074D]"
            >
              Price
            </label>
            <input
              type="text"
              formControlName="price"
              name="price"
              placeholder="Price"
              class="mb-2 w-full rounded-md border border-[#e0e0e0] bg-white py-1 px-1 text-base font-medium text-[#6B7280] outline-none focus:border-[#1106df] focus:shadow-md"
            />
            <label
              for="description"
              class="mb-1 block text-base font-medium text-[#07074D]"
            >
              Description
            </label>
            <input
              type="text"
              formControlName="description"
              name="description"
              placeholder="Description"
              class="mb-2 w-full rounded-md border border-[#e0e0e0] bg-white py-1 px-1 text-base font-medium text-[#6B7280] outline-none focus:border-[#1106df] focus:shadow-md"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
