<header class="navbar">
    <div>
        <img class="navbar__image" src="assets/images/logo-navbar.png" alt="logo">
    </div>
    <nav>
        <ul class="navbar__nav-links">
            <li>
                <a routerLink="/episodes" >Episodes</a>
            </li>
            <li>
                <a routerLink="/characters">Characters</a>
            </li>
            <li>
                <a routerLink="/locations">Locations</a>
            </li>
        </ul>
    </nav>
    <a routerLink="" class="navbar__btn">Contact</a>
</header>
