<div class="container-flex">
  <header>
    <div class="imageHeaderDiv">
      <img src="assets/images/pokemon.png" alt="logo" />
    </div>
    <div class="navHeaderDiv">
      <nav *ngIf="auth.user$ | async as user">
        <ul>
          <li>
            <a
              routerLink="/episodes"
              routerLinkActive="active"
              [routerLink]="['/episodes']"
              >Episodes</a
            >
          </li>
          <li>
            <a
              routerLink="/characters"
              routerLinkActive="active"
              [routerLink]="['/characters']"
              >Characters</a
            >
          </li>
          <li>
            <a
              routerLink="/locations"
              routerLinkActive="active"
              [routerLink]="['/locations']"
              >Locations</a
            >
          </li>
          <li>
            <a
              routerLink="/crud"
              routerLinkActive="active"
              [routerLink]="['/crud']"
              >Crud</a
            >
          </li>
          <li>
            <a
              routerLink="/dynamic-form"
              routerLinkActive="active"
              [routerLink]="['/dynamic-form']"
              >Dynamic Form</a
            >
          </li>
          <li>
            <a
              routerLink="/infinite-scroll"
              routerLinkActive="active"
              [routerLink]="['/infinite-scroll']"
              >Infinite Scroll</a
            >
          </li>
          <li>
            <a
              routerLink="/rxjs"
              routerLinkActive="active"
              [routerLink]="['/rxjs']"
              >RxJs</a
            >
          </li>
          <li>
            <a
              routerLink="/flex-box"
              routerLinkActive="active"
              [routerLink]="['/flex-box']"
              >Flexbox</a
            >
          </li>
          <li>
            <a
              routerLink="/rxjs-operators"
              routerLinkActive="active"
              [routerLink]="['/rxjs-operators']"
              >RxJs Operators</a
            >
          </li>
          <button
            class="inline-block mr-2 px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-auto"
            (click)="onChangeToggle()"
          >
            Toggle Theme
          </button>
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button
              class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-auto"
              (click)="
                auth.logout({
                  logoutParams: { returnTo: document.location.origin }
                })
              "
            >
              Log out
            </button>
          </ng-container>
        </ul>
      </nav>
    </div>
  </header>
</div>

<ng-template #loggedOut>
  <button
    class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
    (click)="auth.loginWithRedirect()"
  >
    Log in
  </button>
</ng-template>

<!-- <pre *ngIf="auth.user$ | async as user">
  <code>{{ user | json }}</code>
</pre> -->
