.container-flex {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #394183;
}

.imageHeaderDiv {
  padding: 1em;

  img {
    height: 34px;
  }
}

.navHeaderDiv {
  padding: 1em;
  li {
    display: inline-flex;
  }

  li a {
    border-radius: 0.5em;
    color: #fff;
    margin-right: 0.5em;
    padding: 0.5em;
  }

  li a:hover {
    color: #416aac;
    background-color: #e6de83;
  }
}

.active {
  color: #416aac;
  background-color: #83a8e6;
}
