<ng-container *ngIf="pokemons$ | async as pokemons">
  <div class="flex flex-col">
    <div class="m-5">
      <div class="inline-block mr-2">
        <label for="searchPokemon" class="form-label inline-block mr-2"
          >Name or number</label
        >
        <input
          class="inline-block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          type="text"
          [(ngModel)]="searchPokemon"
          placeholder="Search..."
        />
      </div>
      <div class="inline-block mr-2">
        <span>Sort by: </span>
      </div>
      <div class="inline-block">
        <label
          for="countries_disabled"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Select an option</label
        >
        <select
          [value]="option"
          (change)="sortBy($event)"
          class="inline-flex w-[20rem] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected value="lowestOrderFirst">
            Lowest number (First)
          </option>
          <option value="highestOrderFirst">Latest number (Last)</option>
          <option value="AtoZ">A-Z</option>
          <option value="ZtoA">Z-A</option>
        </select>
      </div>
    </div>
    <div class="m-3 flex-wrap inline-flex">
      <div
        class="items-end shadow-lg m-2"
        *ngFor="let pokemon of pokemons | filterPokemon : searchPokemon"
      >
        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
        <div class="px-6 py-4">
          <div class="text-xl mb-2">
            <span class="text-stone-500 text-md block"
              >#000{{ pokemon.id }}</span
            >
            <span class="text-2xl">{{ pokemon.name | titlecase }}</span>
          </div>
          <div
            *ngFor="let abilities of pokemon.abilities"
            class="inline-block p-1 mr-2 rounded {{ abilities }}"
          >
            <p class="text-white text-md">
              {{ abilities }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template *ngIf="errorObject">
  <div
    class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16"
  >
    <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
      <div class="relative">
        <div class="absolute">
          <div class="">
            <h1 class="my-2 text-gray-800 font-bold text-2xl">
              Looks like you've found the doorway to the great nothing
            </h1>
            <p class="my-2 text-gray-800">
              {{ errorObject }}
              Sorry about that! Please visit our hompage to get where you need
              to go.
            </p>
            <button
              class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50"
            >
              Take me there!
            </button>
          </div>
        </div>
        <div>
          <img src="https://i.ibb.co/G9DC8S0/404-2.png" />
        </div>
      </div>
    </div>
    <div>
      <img src="https://i.ibb.co/ck1SGFJ/Group.png" />
    </div>
  </div>
</ng-template>
