@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Shlop;
  src: url(assets/fonts/shlop.ttf) format("truetype");
}

.Shlop {
  font-family: Shlop;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(assets/fonts/JetBrainsMono-Medium.ttf) format("truetype");
}

.JetBrainsMono {
  font-family: JetBrainsMono;
}

* {
  box-sizing: borde-box;
  margin: 0;
  padding: 0;
  font-family: JetBrainsMono;
  font-size: 12px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:disabled {
  background-color: #97929248;
  cursor: not-allowed;
}

div#main-container {
  height: -webkit-fill-available;
}

#main-container.darkTheme {
  background-color: #000;
  span,
  h1,
  p,
  label,
  a {
    color: #fff;
  }

  .max-w-sm.rounded.overflow-hidden.shadow-lg.m-3 {
    background-color: aliceblue;
  }
}

#main-container.lightTheme {
  background-color: #fff;
  span,
  h1,
  p,
  label,
  a {
    color: #000;
  }
}
